<h1>Confirm Create User</h1>
<%= form_with model: @user do |form| %>

    <div>
      <%= form.label :name %>
      <%= form.text_field :name, :readonly => true %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :email_address %>
      <%= form.text_field :email, :readonly => true %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :password %>
      <%= form.password_field :password, :value => @user.password, :readonly => true %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :confirm_password %>
      <%= form.password_field :password_confirmation, :value => @user.password, :readonly => true %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :Role %>
      <%= form.select(:role, options_for_select([0,1], selected: @user.role.to_i) )%>
    </div>
  
    <div>
      <%= form.label :phone %>
      <%= form.text_field :phone, :readonly => true %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :date_of_birth %>
      <%= form.date_field :dob, :readonly => true %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :address %>
      <%= form.text_area :address, :readonly => true %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div><%= image_tag @user.profile, style: 'width:100px;' %> </div>
      <div>
      <%= form.label :profile %>
      <%= form.hidden_field :profile, value: @user.profile, :readonly => true %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <%= form.submit "Confirm" %>
    <%= link_to "Cancel", 'javascript:history.go(-1);' %>
    
  <% end %>