<h1>Create New User</h1>
<%= form_with model: @user, url: confirm_create_users_path(@user) do |form| %>

    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :email_address %>
      <%= form.text_field :email %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :password %>
      <%= form.password_field :password %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :confirm_password %>
      <%= form.password_field :password_confirmation %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :Role %>
      <%= form.select(:role, options_for_select([0,1]))%>
    </div>
  
    <div>
      <%= form.label :phone %>
      <%= form.text_field :phone %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :date_of_birth %>
      <%= form.date_field :dob %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.label :address %>
      <%= form.text_area :address %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
      <div>
      <%= form.label :profile %>
      <%= form.file_field :profile, direct_upload: true, :accept => "image/x-png,image/gif,image/jpeg" %>
      <% @user.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <%= form.submit "Done" %>
    <%= link_to 'Back', users_path %>
    
  <% end %>