<h1><%= @user.name %></h1>
<div><%= image_tag @user.profile, style: 'width:100px;' %> </div>
<ul>
  <li><%= @user.email %></li>
  <li><%= @user.role %></li>
  <li><%= @user.phone %></li>
  <li><%= @user.dob %></li>
  <li><%= @user.address %></li>
  <li><%= @user.created_at %></li>
  <li><%= @user.create_user_id %></li>
  <li><%= @user.updated_at %></li>
  <li><%= @user.updated_user_id %></li>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Change Password", edit_password_path(@user) %></li>
  <li><%= link_to "Delete", user_path(@user),
  method: :delete,
  data: { confirm: "Are you sure?" } %></li>
  <li><%= link_to 'Back', users_path %></li>
</ul>