<h1 class="float-left">Posts</h1>

<%= link_to "New Post", new_post_path, class: 'display btn button1 mv-20 float-right' %>

<div class="table-responsive">
<table  id="table_id" class="table">

<thead>
    <tr>
    <th>Title</th>
    <th>Description</th>
    <th>User ID</th>
    <th>Created At</th>
    <th>Operations</th>
    </tr>
</thead>
<tbody>
    <tr>
    <% @posts.each do |post| %>


        <td> <%= link_to post.title, post %> </td>
        <td> <%= post.description %> </td>
        <td> <%= post.create_user_id %> </td>
        <td> <%= post.created_at.strftime('%Y/%m/%d') %> </td>
        <td>
        <%= link_to "Edit", edit_post_path(post), class: 'btn button1 mr-2' %>
        <%= link_to 'Delete', '#', "data-toggle"=>"modal", "data-target" => "#deletepost_#{post.id}",:class=>'btn button1 button2' %></td>
        </td>
        
        <div class="modal fade" id="deletepost_<%= post.id %>">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
            <h5 class="modal-title">Post Detete Confirmation</h5>
                </div>
                <div class="modal-body">
                <p>Are you sure to delete?</p>
                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn button1">Cancel</a>
                    <%= link_to 'Delete', post_path(post), method: :delete, :class => 'btn button1 button2' %>
                </div>
            </div>
            </div>
        </div>

    </tr>
    <% end %>
</tbody>

</table>
</div>

